<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi-vn" lang="vi-vn">
<head profile="http://www.w3.org/1999/xhtml/vocab">
    <base />

    <link rel="shortcut icon" href="~/assets/client/img/favicon.ico" type="image/x-icon">

    <meta name="google-site-verification" content="V7AOP6PwUqe36rcBVz5C2xpAb16Q9eBbCKi6w07RfUQ" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>THÔNG TIN TUYỂN SINH - TRƯỜNG CAO ĐẲNG KỸ THUẬT CÔNG NGHỆ QUY NHƠN</title>
    <meta name="keywords" content="cao dang, cao dang ky thuat, cao đẳng, truong cao dang, trường Cao đẳng, truong cao dang nghe, trương Cao đẳng nghề, cao dang chinh quy, lien thong, cao đẳng chính quy, tuyen sinh cao dang, tuyển sinh cao đẳng, cao dang, cao dang ky thuat cong nghe, cao dang lien thong" />
    <meta name="description" content="Trường Cao đẳng nghề uy tín chất lượng hàng đầu Việt Nam, đào tạo đa ngành nghề, đảm bảo thực tập, việc làm cho sinh viên theo học." />
    <meta name="copyright" content="Trường Cao đẳng Kỹ Thuật Công nghệ Quy Nhơn" />
    <meta name="author" content="Trường Cao đẳng Kỹ Thuật Công nghệ Quy Nhơn" />
    <meta http-equiv="audience" content="General" />
    <meta name="resource-type" content="Document" />
    <meta name="distribution" content="Global" />
    <meta name="GENERATOR" content="Trường Cao đẳng Kỹ Thuật Công nghệ Quy Nhơn" />
    <link rel="publisher" href="https://cdktcnqn.edu.vn" />
    <link rel="author" href="https://cdktcnqn.edu.vn" />
    <meta property="og:title" content="THÔNG TIN TUYỂN SINH - CAO ĐẲNG KỸ THUẬT CÔNG NGHỆ QUY NHƠN" />
    <meta property="og:description" content="Trường Cao đẳng nghề uy tín chất lượng hàng đầu Việt Nam, đào tạo đa ngành nghề, đảm bảo thực tập, việc làm cho sinh viên theo học." />
    <meta property="og:site_name" content="cdktcnqn.edu.vn" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />

    <link rel="stylesheet" href="~/assets/client/css/style.css" />
    <link href="~/assets/client/css/jquery.toast.css" rel="stylesheet" />
    <link href="~/assets/client/css/bootstrap-datepicker.min.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="fb-root"></div>
    <div id="sb-site">
        <section class="content nopadding">
            <div class="container nopadding">
                <!-- Template Start: site/common/WrapHeader -->
                <div class="block-nopadding back-blue" id="menumobile">
                    <div class="content noidung">
                        <div class="col-xs-6 nopadding menumobile-left">
                            <span id="openmenu" class="sb-open-left"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Danh mục</span>
                            <span id="closemenu" class="sb-open-left2"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Danh mục</span>
                        </div>
                        <div class="col-xs-6 nopadding text-right">
                        </div>
                    </div>
                </div>
                <div class="block nopadding">
                    <div class="content noidung back-white desktop">
                        <div id="bannertuyensinh" class="headertop">
                            <a href="/trang-chu">
                                <img class="img-responsive" src="~/assets/client/img/banner/img/banner.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="content noidung back-white mobi">
                        <div id="bannertuyensinh" class="headertop" style="padding: 5px 0;">
                            <a href="/trang-chu">
                                <img class="img-responsive" src="~/assets/client/img/banner/img/SmallBanner.png" />
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Template End: site/common/WrapHeader -->
                <div class="block-nopadding">
                    <div class="content noidung menu-desktop">
                        <ul class="table autoLayout absSubMenus" id="ja-cssmenu">
                            <!-- Template Start: site/tuyensinh/WrapMenu -->
                            <li class="active havechild">
                                <a href="/trang-chu">
                                    <i class="fa fa-home fa-1-5" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="havechild">
                                <a><span class="menu-title">Giới thiệu</span></a>
                                <ul>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/tong-quan"><span class="menu-title">Giới thiệu về trường</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/lich-su-phat-trien"><span class="menu-title">Lịch sử phát triển</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/so-do-to-chuc"><span class="menu-title">Sơ đồ tổ chức</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a><span class="menu-title">Tổ chức</span></a>
                                        <ul>
                                            <li class="havechild">
                                                <a href="/gioi-thieu/dang-bo"><span class="menu-title">Đảng bộ Nhà trường</span></a>
                                            </li>
                                            <li class="havechild">
                                                <a href="/gioi-thieu/ban-giam-hieu"><span class="menu-title">Ban giám hiệu</span></a>
                                            </li>
                                            <li class="havechild">
                                                <a href="/phong-khoa/danh-sach-phong"><span class="menu-title">Phòng chức năng</span></a>
                                                <ul style="width:calc(210%)">
                                                    @foreach (var item in MvcApplication.lstPhongKHoa)
                                                    {
                                                        if (item.isPhong == true)
                                                        {
                                                            <li class="havechild">
                                                                <a href="/phong-khoa/@item.PhongKhoaLink/@item.ID"><span class="menu-title">@item.TenPhongKhoa</span></a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                            <li class="havechild">
                                                <a href="/phong-khoa/danh-sach-khoa"><span class="menu-title">Khoa chuyên môn</span></a>
                                                <ul style="width:calc(210%)">
                                                    @foreach (var item in MvcApplication.lstPhongKHoa)
                                                    {
                                                        if (item.isPhong == false)
                                                        {
                                                            <li class="havechild">
                                                                <a href="/phong-khoa/@item.PhongKhoaLink/@item.ID"><span class="menu-title">@item.TenPhongKhoa</span></a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                            <li class="havechild">
                                                <a><span class="menu-title">Tổ chức chính trị - Xã hội</span></a>
                                                <ul>
                                                    <li class="havechild">
                                                        <a href="/gioi-thieu/cong-doan"><span class="menu-title">Công đoàn</span></a>
                                                    </li>
                                                    <li class="havechild">
                                                        <a href="/gioi-thieu/doan-thanh-nien"><span class="menu-title">Đoàn thanh niên - Hội sinh viên</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/co-so-vat-chat"><span class="menu-title">Cơ sở vật chất</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/nang-luc-dao-tao"><span class="menu-title">Năng lực đào tạo</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/thanh-tich-dat-duoc"><span class="menu-title">Thành tích đạt được</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/dinh-huong-phat-trien"><span class="menu-title">Định hướng phát triển</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/muc-tieu-chat-luong"><span class="menu-title">Mục tiêu chất lượng</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/gioi-thieu/ky-yeu-nha-truong"><span class="menu-title">Kỷ yếu nhà trường</span></a>
                                    </li>

                                </ul>
                            </li>

                            <li class="havechild">
                                <a href="/tin-tuyen-sinh/thong-bao-tuyen-sinh"><span class="menu-title">Thông Báo</span></a>
                            </li>
                            <li class="havechild">
                                <a href="/sinh-vien-tieu-bieu"><span class="menu-title">Học sinh - Sinh viên tiêu biểu</span></a>
                            </li>
                            <li class="havechild">
                                <a href="/danh-muc-nghe"><span class="menu-title">Nghề Đào Tạo</span></a>
                            </li>
                            <li class="havechild">
                                <a href="/dang-ky"><span class="menu-title">Đăng ký xét tuyển trực tuyến</span></a>
                                <ul>
                                    <li class="havechild">
                                        <a href="/dang-ky/cao-dang"><span class="menu-title">Cao Đẳng</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/dang-ky/lien-thong-cao-dang"><span class="menu-title">Liên thông cao đẳng</span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/dang-ky/trung-cap-thcs"><span class="menu-title">Trung cấp 2 năm </span></a>
                                    </li>
                                    <li class="havechild">
                                        <a href="/dang-ky/trung-cap-thpt"><span class="menu-title">Trung cấp 1,5 năm</span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="havechild">
                                <a href="/ket-qua"><span class="menu-title">Kết quả xét tuyển</span></a>
                            </li>
                            <li class="havechild">
                                <a href="/hoi-dap"><span class="menu-title">Hỏi đáp</span></a>
                            </li>
                            <!-- Template End: site/tuyensinh/WrapMenu -->
                        </ul>
                    </div>
                </div>
                <!-- Template End: site/common/WrapBanner -->

                @RenderBody()

                <div class="block-nopadding nopadding footer">
                    <div class="content noidung back-blue">
                        <div class="row">
                            <div class="pull-left">
                                <span class="modtitle">
                                    Cao Đẳng Kỹ Thuật Công Nghệ Quy Nhơn<br>
                                </span>
                                <span class="modtitle">
                                    Trung tâm Đào tạo - Bồi dưỡng thường xuyên
                                </span>
                                <ul>
                                    <li>
                                        <em class="fa fa-map-marker" aria-hidden="true"></em>
                                        <span> &nbsp;172 An Dương Vương, Tp. Quy Nhơn</span>
                                    </li>
                                    <li><em class="fa fa-envelope-o" aria-hidden="true"></em><span> tuyensinh@cdktcnqn.edu.vn &nbsp;</span></li>
                                    <li>
                                        <em class="fa fa-phone-square" aria-hidden="true"></em>
                                        <span>0256.6521.541 - 0983.07.07.77</span>
                                    </li>
                                    <li><em class="fa fa-globe" aria-hidden="true"></em><a href="http://tuyensinh.cdktcnqn.edu.vn"><span> tuyensinh.cdktcnqn.edu.vn</span></a></li>
                                </ul>
                            </div>

                            <div class="pull-right desktop">
                                <h4 style="padding-right:10px;">Kết nối với QCET</h4>
                                <div style="font-size:35px">
                                    <a target="_blank" class="fa fa-facebook-official" href="https://www.facebook.com/caodangktcnqn/"><em class="mdi mdi-facebook"></em></a>
                                    <a style="margin-left:5px;" target="_blank" class="fa fa-youtube-square" href="https://www.youtube.com/channel/UCo2b1PSEz9TLqM1UGwtJsSQ?fbclid=IwAR1O6PudfuX_PATzAKKO0HCp1OJNOBeIOWCk-ZlF9Zozn-ZE_T6XGFgE-64"><em class="mdi mdi-youtube-play"></em></a>
                                    <a target="_blank" href="https://zalo.me/792420467717054099">
                                        <img style="width: 35px;height: 35px;margin: 0;margin-bottom :3px;" src="/assets/client/img/zalo-icon.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="sb-slidebar sb-left">
        <div id="wrap">
            <ul class="menu" style="margin-top:0px;">
                <!-- Template Start: site/tuyensinh/WrapMenu -->
                <li class="active havechild">
                    <a href="/trang-chu">
                        <i class="fa fa-home fa-1-5" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="havechild">
                    <a><span class="menu-title">Giới thiệu</span></a>
                    <ul>
                        <li class="havechild">
                            <a href="/gioi-thieu/tong-quan"><span class="menu-title">Giới thiệu về trường</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/lich-su-phat-trien"><span class="menu-title">Lịch sử phát triển</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/so-do-to-chuc"><span class="menu-title">Sơ đồ tổ chức</span></a>
                        </li>
                        <li class="havechild">
                            <a><span class="menu-title">Tổ chức</span></a>
                            <ul>
                                <li class="havechild">
                                    <a href="/gioi-thieu/dang-bo"><span class="menu-title">Đảng bộ Nhà trường</span></a>
                                </li>
                                <li class="havechild">
                                    <a href="/gioi-thieu/ban-giam-hieu"><span class="menu-title">Ban giám hiệu</span></a>
                                </li>
                                <li class="havechild">
                                    <a href="/phong-khoa/danh-sach-phong"><span class="menu-title">Phòng chức năng</span></a>
                                    <ul style="width:calc(210%)">
                                        @foreach (var item in MvcApplication.lstPhongKHoa)
                                        {
                                            if (item.isPhong == true)
                                            {
                                                <li class="havechild">
                                                    <a href="/phong-khoa/@item.PhongKhoaLink/@item.ID"><span class="menu-title">@item.TenPhongKhoa</span></a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="havechild">
                                    <a href="/phong-khoa/danh-sach-khoa"><span class="menu-title">Khoa chuyên môn</span></a>
                                    <ul style="width:calc(210%)">
                                        @foreach (var item in MvcApplication.lstPhongKHoa)
                                        {
                                            if (item.isPhong == false)
                                            {
                                                <li class="havechild">
                                                    <a href="/phong-khoa/@item.PhongKhoaLink/@item.ID"><span class="menu-title">@item.TenPhongKhoa</span></a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="havechild">
                                    <a><span class="menu-title">Tổ chức chính trị - Xã hội</span></a>
                                    <ul>
                                        <li class="havechild">
                                            <a href="/gioi-thieu/cong-doan"><span class="menu-title">Công đoàn</span></a>
                                        </li>
                                        <li class="havechild">
                                            <a href="/gioi-thieu/doan-thanh-nien"><span class="menu-title">Đoàn thanh niên - Hội sinh viên</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/co-so-vat-chat"><span class="menu-title">Cơ sở vật chất</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/nang-luc-dao-tao"><span class="menu-title">Năng lực đào tạo</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/thanh-tich-dat-duoc"><span class="menu-title">Thành tích đạt được</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/dinh-huong-phat-trien"><span class="menu-title">Định hướng phát triển</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/muc-tieu-chat-luong"><span class="menu-title">Mục tiêu chất lượng</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/gioi-thieu/ky-yeu-nha-truong"><span class="menu-title">Kỷ yếu nhà trường</span></a>
                        </li>

                    </ul>
                </li>

                <li class="havechild">
                    <a href="/tin-tuyen-sinh/thong-bao-tuyen-sinh"><span class="menu-title">Thông Báo</span></a>
                </li>
                <li class="havechild">
                    <a href="/sinh-vien-tieu-bieu"><span class="menu-title">Học sinh - Sinh viên tiêu biểu</span></a>
                </li>
                <li class="havechild">
                    <a href="/danh-muc-nghe"><span class="menu-title">Nghề Đào Tạo</span></a>
                </li>
                <li class="havechild">
                    <a href="/dang-ky"><span class="menu-title">Đăng ký xét tuyển trực tuyến</span></a>
                    <ul>
                        <li class="havechild">
                            <a href="/dang-ky/cao-dang"><span class="menu-title">Cao Đẳng</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/dang-ky/lien-thong-cao-dang"><span class="menu-title">Liên thông cao đẳng</span></a>
                        </li>
                        <li class="havechild">
                            <a href="/dang-ky/trung-cap-thcs"><span class="menu-title">Trung cấp 2 năm </span></a>
                        </li>
                        <li class="havechild">
                            <a href="/dang-ky/trung-cap-thpt"><span class="menu-title">Trung cấp 1,5 năm</span></a>
                        </li>
                    </ul>
                </li>
                <li class="havechild">
                    <a href="/ket-qua"><span class="menu-title">Kết quả xét tuyển</span></a>
                </li>
                <li class="havechild">
                    <a href="/hoi-dap"><span class="menu-title">Hỏi đáp</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Initialize Bootstrap functionality -->
    <script>
        // Initialize tooltip component
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        // Initialize popover component
        $(function () {
            $('[data-toggle="popover"]').popover()

        })
    </script>
    <script type="text/javascript" src="~/assets/client/js/angular.min.js"></script>
    <script type="text/javascript" src="~/assets/client/js/ui-mask.js"></script>
    <script type="text/javascript" src="~/assets/client/js/ui-bootstrap-tpls-1.3.3.js"></script>
    <script type="text/javascript" src="~/assets/client/js/ddaccordion.js"></script>
    <script type="text/javascript" src="~/assets/client/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="~/assets/client/js/slidebars.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                try {
                    $.slidebars();
                } catch (e) { }
            });
        })(jQuery);
    </script>
    <script src="~/assets/client/js/bootbox.js"></script>
    <script src="~/assets/client/js/jquery.toast.js"></script>
    <script src="~/assets/client/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/client/js/bootstrap-datepicker-vi.js"></script>
    <script>
        $(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                language: 'vi'
            });
        });
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=493464654515869&autoLogAppEvents=1"></script>
    @RenderSection("scripts", required: false)
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5cd0dc57d07d7e0c6392398b/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
