@model WebsiteTuyenSinh.Models.ThongBaoTuyenSinhViewModel

@{
    ViewBag.Title = "Chi tiết tin tuyển sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="block-nopadding no-padding-home">
    <div class="content noidung">
        <div class="col-sm-9 no-padding-left padding-right-5">

            <!-- Template Start: site/news/WrapDetails -->
            <div class="detail-news">

                <div class="content-block">
                    <div class="col-sm-12 no-padding-left padding-bottom">
                        <span class="title-block text-blue nopadding">@Model.ChiTietTinTS.TieuDe</span>
                    </div>
                    <div class="col-sm-12 nopadding news-info">
                        <div class="col-sm-6 nopadding">
                            <div class="article-tools clearfix">
                                <dl style="width: auto;" class="article-info">
                                    <dd class="create"><i class="fa fa-calendar" aria-hidden="true"></i> <span>@Model.ChiTietTinTS.NgayTao</span></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-sm-6 nopadding text-right">
                            @* Nhúng chia se *@
                        </div>
                    </div>
                    <panel>
                        @Html.Raw(Model.ChiTietTinTS.NoiDung)
                    </panel>
                </div>
            </div>


            <!-- Template End: site/news/WrapDetails -->


        </div>
        <div class="col-sm-3 nopadding">

            <!-- Template Start: site/common/WrapNotify -->
            <div class="block-content">
                <div class="header-block">
                    <img class="icon-tin-noi-bat" src="~/assets/client/img/img_blank.gif">
                    <span class="title-block text-red">
                        <div class="title-right"> Thông tin mới</div>
                    </span>
                </div>
                <div class="content-block">
                    <ul class="latestnews">
                        @foreach (var item in Model.TinTuyenSinh)
                        {
                            <li class="wow slideInUp animated" style="visibility: visible; animation-name: slideInUp;">
                                <a class="latestnews" href="/tin-tuyen-sinh/@item.TinTucLink-@item.ID">
                                    @item.TieuDe
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="col-sm-12 text-right padding wow slideInUp animated animated" style="visibility: visible; animation-name: slideInUp;">
                        <a href="/tin-tuyen-sinh/thong-bao-tuyen-sinh" class="text-red text-bold"><i class="fa fa-plus-square fa-1 text-red" aria-hidden="true"></i> Xem tất cả</a>
                    </div>
                </div>
            </div>
            <!-- Template End: site/common/WrapNotify -->
            <!-- Template Start: site/tuyensinh/WrapQuickReference -->

            <div class="block-content">
                @foreach (var item in Model.TinLienQuan)
                {
                    <div class="tinlienquan">
                        <a style="background-color:@item.Mau;" href="@item.LienKet">
                            <span class="top" style="display:inline-block;">&nbsp;&nbsp;@item.TieuDe</span>
                        </a>
                    </div>
                }             
            </div>
            @* Liên kết đăng ký trực tuyến *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Đăng ký trực tuyến</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/dang-ky">
                        <img class="wi-100" src="~/assets/client/img/banner/img/DANGKYTRUCTUYEN.png" />
                    </a>
                </div>
            </div>
            @* Đăng ký tư vấn trực tiếp *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Hỏi đáp</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/hoi-dap">
                        <img class="wi-100" frameborder="0" src="~/assets/client/img/banner/img/TUVANTRUCTUYEN.png" />
                    </a>
                </div>
            </div>
            @* Tra cứu kết quả *@
            <div class="block-content">
                <div class="header-block">
                    <div class="">
                        <img class="icon-hutech-tv" src="~/assets/client/img/img_blank.gif">
                        <span class="title-block text-orange">Tra cứu kết quả</span>
                    </div>
                </div>
                <div class="video">
                    <a href="/ket-qua">
                        <img class="wi-100" frameborder="0" src="~/assets/client/img/banner/img/TRACUUKETQUA.png" />
                    </a>
                </div>
            </div>
            <!-- Template End: site/tuyensinh/WrapQuickReference -->
        </div>
    </div>
</div>
