
@{
    ViewBag.Title = "KetQua";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kq = ViewBag.KetQua;
}

<div class="block-nopadding no-padding-home">
    <div class="content noidung" style="background-color:white;">
        <div class="row ">
            <div class="col-sm-12">
                <p class="titlepax text-center mt-10">KẾT QUẢ XÉT TUYỂN</p>
            </div>
        </div>

        <div class="row">
            @using (Html.BeginForm("tim-kiem", "ket-qua", FormMethod.Get))
            {

                <div class="col-xs-1 col-sm-2 col-md-3"></div>
                <div class="col-xs-10 col-sm-8 col-md-6">
                    <input value="@ViewBag.HoTen" name="HoTen" id="HoTen" type="text" class="form-control text-center" placeholder="Nhập họ và tên">
                    <br />
                    <input value="@ViewBag.NgaySinh" name="NgaySinh" id="NgaySinh" type="text" class="form-control text-center datepicker" placeholder="Nhập ngày/tháng/năm sinh">
                    <br />
                    <select class="form-control text-center" name="hedangky" id="hedangky">
                        <option selected value="0">- Chọn hệ đào tạo -</option>
                        <option value="cao-dang">Cao đẳng</option>
                        <option value="lien-thong-cao-dang">Liên thông cao đẳng</option>
                        <option value="trung-cap-thcs">Trung cấp THCS (2 năm)</option>
                        <option value="trung-cap-thpt">Trung cấp THPT (1,5 năm)</option>
                    </select>
                    <br />
                    <div class="col-xs-12 text-center">
                        <button type="submit" class="btn btn-primary">Xem kết quả</button>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-2 col-md-3"></div>
            }
        </div>
        <br />
        <div class="row">
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 text-center">
                Thí sinh nhập họ, tên và ngày tháng năm sinh<br>
                <b>Ví dụ:</b> Thí sinh <b>Nguyễn Văn A</b>, sinh ngày 01/01/2000
                <p align="center">
                    <i> Nếu không xem được, vui lòng liên hệ<b ste="color:#066fc7;"> 0256.6521541 - 0983.070777</b> để được hỗ trợ</i>
                </p>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3"></div>
        </div>
        <br />
        <div class="desktop">
            @if (kq != null && kq.Count > 0)
            {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Ngày sinh</th>
                                    <th scope="col">Nghề đăng ký</th>
                                    <th scope="col">Kết quả</th>
                                    <th scope="col">Giấy báo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in kq)
                                {
                                    <tr>
                                        <td scope="row" nowrap><b>@item.HoTen</b></td>
                                        <td nowrap>@item.NgaySinh</td>
                                        <td nowrap>@item.PhongKhoa_Nghe.TenNghe</td>
                                        <td nowrap>@(Convert.ToBoolean(item.TrangThai) ? "Đủ điều kiện trúng tuyển" : "Đang xử lý")</td>
                                        <td>...</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        @if (ViewBag.ThongBaoKetQua.KichHoat == true)
                        {
                            @Html.Raw(ViewBag.ThongBaoKetQua.NoiDung);
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="alert alert-info" role="alert">
                            Không có dữ liệu
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            }
        </div>
        <div class="mobi">
            @if (kq != null && kq.Count > 0)
            {
                <div class="row">
                    @foreach (var item in kq)
                    {
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                                <div class="panel-heading"><b>@item.HoTen</b></div>
                                <div class="panel-body">
                                    <p>@item.NgaySinh</p>
                                    <p>@item.PhongKhoa_Nghe.TenNghe</p>
                                </div>
                                <div class="panel-footer">
                                    @(Convert.ToBoolean(item.TrangThai) ? "Đủ điều kiện trúng tuyển" : "Đang xử lý")
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    @if (ViewBag.ThongBaoKetQua.KichHoat == true)
                    {
                        @Html.Raw(ViewBag.ThongBaoKetQua.NoiDung);
                    }
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="alert alert-info" role="alert">
                            Không có dữ liệu
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
</div>
